#personal_details span,
#personal_details div {
  float: left;
}

#personal_details span {
  margin-right: 5px;
  padding-top: 5px;
}

#goodie_bag_total_order {
  margin-bottom: 11px;
}

#goodie_bag_total_order span {
  float: left;
}
